$primary: #5265E1;
$secondary: #FA5959;
$black-50: rgba(0, 0, 0, 0.5);
$black-20: rgba(0, 0, 0, 0.2);

@import "./node_modules/bootstrap/scss/bootstrap.scss";

.nav-tabs {
    .nav-item {
        .nav-link {
            border: none;
            box-shadow: none;
            color: $black-50;

            &.active {
                color: black;
                border-bottom: 3px solid $secondary;
            }
            &:not(.active) {
                border-bottom: none !important;
            }
        }
    }
}

.nav-link:hover {
    color: $secondary !important;
}

.card {
    border: none;

    .card-body {
        border-radius: 25px;
    }

    padding-left: 2rem;
    padding-right: 2rem;
}

.accordion-item {   
    .accordion-header {    
        .accordion-button {
            font-size: 1.15rem;
            border-top: 1px solid $black-20;  
            border-bottom: 1px solid $black-20;
        
            box-shadow: none;
            background-color: transparent;

            &::after {
                background: url(img/icon-arrow.svg) no-repeat center center;
                transition: transform 0.3s ease-in-out;
            }
            &::after {
                transform: rotate(0deg);
            }
            &:not(.collapsed)::after {
                transform: rotate(180deg);
                filter: brightness(0) saturate(100%) invert(48%) sepia(92%) saturate(927%) hue-rotate(-6deg) brightness(98%) contrast(97%); // Ensures FA5959 color
            }
            &:hover {
                color: $secondary !important;
            }
        }
    } 
}

.body {
    max-width: 1200px;
    margin: 0 auto;
}

.btn-primary, .btn-light {

    &:hover {
        background-color: white;
        color: $primary;
        border: 1px solid $primary;
    }
}

.btn-danger {
    background-color: $secondary;

    &:hover {
        background-color: white;
        color: $secondary;
        border: 1px solid $secondary;
    }
}

.social-logo:hover {
    filter: brightness(0) saturate(100%) invert(48%) sepia(92%) saturate(927%) hue-rotate(-6deg) brightness(98%) contrast(97%); // Ensures FA5959 color
}

.navbar-toggler-icon[aria-expanded="true"] {
    background-image: url(img/icon-close.svg) !important;
}

.navbar-toggler-icon {
    background-image: url(img/icon-hamburger.svg);
}

.navbar {
    --bs-navbar-toggler-border-color: transparent;
}

.nav-item {
    padding-left: $spacer *1.5;
    padding-right: $spacer *1.5;
}

.footer-navbar-section {
    background-color: #242946 !important;
}

.form-group {
    position: relative;
    display: inline-block;  
    border-radius: 0.5rem 0.5rem 0 0;

    &.invalid {
        background-color: $secondary;
    }

    .invalid-feedback {
        color: white; /* Red color for error message */
        background-color: #FA5959;
        font-size: 0.875rem; /* Smaller font size for the error message */
        text-align: center;
        left: 0;
        bottom: -1rem;
        display: none;
        width: 100%;
        padding-bottom: 0.15rem;
    }

}


.input-icon {
    display: none;
    bottom: 17px;
    right: 10px;

    &.invalid {
        display: inline-block;  
    }
}


.form-control.is-invalid {
    border-color: #FA5959;
}

.input-icon {
    width: 20px; /* Size of the icon */
    height: auto;
    pointer-events: none; /* Disable clicking on the icon */
}


.fw-medium {
    color: #242946;
}
.fw-lighter {
    font-size: 0.75rem;
    letter-spacing: 4px;
}

.blue-pill-right {
    position: absolute;
    top: 100px;
    right:0;
    max-width: 80vw !important;
    content: '';
    height : 80%;
    background-color: $primary;
    z-index: -1;
    border-radius: 0 0 0 15rem;
}

.blue-pill-left {
    position: absolute;
    top: 120px;
    left: -8vw !important;
    max-width: 80vw !important;
    max-height: 325px;
    content: '';
    height : 80%;
    background-color: $primary;
    z-index: -1;
    border-radius: 0 25rem 15rem 0;
}