$primary: #5265E1;
$secondary: #FA5959;

@import "./node_modules/bootstrap/scss/bootstrap.scss";



.body {
    max-width: 1200;
}

.btn-danger {
    background-color: $secondary;
}

.navbar-toggler-icon[aria-expanded="true"] {
    background-image: url(img/icon-close.svg) !important;
}

.navbar-toggler-icon {
    background-image: url(img/icon-hamburger.svg);
}

.navbar {
    --bs-navbar-toggler-border-color: transparent;
}

.nav-item {
    padding-left: $spacer *1.5;
    padding-right: $spacer *1.5;
}

.fw-medium {
    color: #242946;
}

.hero {
    position: absolute;
    top: 20%;
    left: 15%;
    content: '';
    width: 85%;
    height : 80%;
    background-color: $primary;
    z-index: -1;
    border-radius: 0 0 0 15rem;
}